<br>
<br>
<div class="row">
<div class="col-xs-12">
    <div class="pull-left">
    <a href="#" (click)="onAboutSelect('about')">
    <h4 class="list-group-item-heading">{{detail.about}}</h4></a>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
        <a href="#" (click)="onExpSelect('exp')">
        <h4 class="list-group-item-heading">{{detail.experience}}</h4></a>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
        <a href="#" (click)="onSkillsSelect('skills')">
        <h4 class="list-group-item-heading">{{detail.skills}}</h4></a>
    </div>
</div>
</div>
